---
pre-conditions: &pre-conditions-python
  env:
    WORKSPACE:
    PROJECT_NAME:
    VIRTUAL_ENV:
  validators:
    - '[ "$PWD" = "$WORKSPACE" ]'

executors:
  sh: &sh
    path: /bin/sh
    options: -c
    quote: true
  python: &python
    path: $WORKSPACE/.venv/bin/python
    options: -u
    quote: false
  zsh: &zsh
    path: /opt/local/bin/zsh
    options: -c
    quote: true

tasks:
  run:
    executor: *sh
    cmd: !include cmd/python
